// Заголовки, общие БЄМ блоки и проче...
.page {

  // .page__hero
  &__hero {}

  // .page__areas
  &__areas {
    padding-top: rem(100);
    padding-bottom: rem(100);
  }

  // .page__advice
  &__advice {
    padding-top: rem(125);
    padding-bottom: rem(100);
    background-color: #fafafa;
  }
}

.title {
  font-family: 'Martel';
  font-weight: 700;
  font-size: rem(40);
  line-height: math.div(50, 40);
  letter-spacing: 0.2px;
  color: $secondColor;
  text-align: center;

  &:not(:last-child) {
    margin-bottom: rem(10);
  }
}

.text {
  max-width: rem(435);
  margin: 0 auto;
  line-height: math.div(20, 14);
  letter-spacing: 0.2px;
  text-align: center;
}