//====================================================================================================
.hero {
  position: relative;
  background: url('@img/hero/hero-bg.jpg') center top / cover no-repeat;

  // .hero__container
  &__container {
    display: flex;
    position: relative;

    @media (max-width:$mobile) {
      flex-wrap: wrap;
    }
  }

  // .hero__content
  &__content {
    flex: 0 1 rem(480);
    padding-top: rem(258);
    // padding-bottom: rem(154);
    @include adaptiveValue("padding-bottom", 154, 90);

    @media (max-width:$mobile) {
      flex-basis: auto;
      flex-direction: column;
      text-align: center;
    }
  }

  // .hero__title
  &__title {
    font-family: 'Martel';
    font-weight: 900;
    @include adaptiveValue("font-size", 58, 38);
    line-height: math.div(65, 58);
    letter-spacing: 0.2px;
    color: $secondColor;

    &:not(:last-child) {
      margin-bottom: rem(34);
    }

    @media (max-width:$mobile) {
      font-weight: 700;
    }
  }

  // .hero__descr
  &__descr {
    max-width: rem(380);
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    line-height: math.div(30, 20);
    letter-spacing: 0.2px;

    &:not(:last-child) {
      margin-bottom: rem(35);
    }

    @media (max-width:$mobile) {
      max-width: 100%;
    }
  }

  // .hero__buttons
  &__buttons {
    display: inline-flex;
    gap: rem(10);

    @media (max-width:$mobileSmall) {
      gap: rem(20);
      flex-direction: column;
    }
  }

  // .hero__button
  &__button {}

  // .hero__image
  &__image {
    flex: 0 1 rem(565);
    align-self: self-end;
    position: relative;
    right: rem(-30);

    img {
      max-width: 100%;
    }

    @media (max-width:$mobile) {
      right: 0;
    }
  }
}

//====================================================================================================
.areas {


  // .areas__container
  &__container {}

  // .areas__title
  &__title {}

  // .areas__descr
  &__descr {
    &:not(:last-child) {
      margin-bottom: rem(80);
    }
  }

  // .areas__items
  &__items {}
}

.items-areas {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: rem(30);

  @media (max-width:$mobile) {
    grid-template-columns: repeat(6, 1fr);
  }

  // .items-areas__item
  &__item {
    grid-column: 4 span;
    padding-top: rem(30);
    padding-bottom: rem(30);
    background: #f9f9f9;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    border-radius: rem(5);
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease 0s;

    @media (max-width:$mobile) {
      grid-column: 6 span;
    }

    &.active,
    &:hover {
      background-color: $secondColor;

      .items-areas__icon {
        fill: #fff;
      }

      .items-areas__caption {
        color: #fff;
      }
    }
  }

  // .items-areas__icon
  &__icon {
    width: rem(53);
    height: rem(53);
    fill: #295c7a;

    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }

  // .items-areas__caption
  &__caption {
    font-family: 'Martel';
    font-weight: 700;
    font-size: rem(16);
    line-height: math.div(24, 16);
    letter-spacing: 0.1px;
    color: $secondColor;
  }
}

//========================================================================================================================================================
.advice {

  // .advice__container
  &__container {}

  // .advice__title
  &__title {}

  // .advice__descr
  &__descr {
    &:not(:last-child) {
      margin-bottom: rem(45);
    }
  }

  // .advice__cards
  &__cards {}
}

.cards-list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: rem(30);
  @media (max-width:$tablet){
    grid-template-columns: repeat(8, 1fr);
  }

  @media (max-width:$mobileSmall){
    grid-template-columns: repeat(4, 1fr);
  }

  // .cards-list__card
  &__card {
    grid-column: 3 span;
    @media (max-width:$tablet){
      grid-column: 4 span;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;

  // .card__body
  &__body {
    padding: rem(30) rem(57) rem(30) rem(30);
    flex: 1 1 auto;
  }

  // .card__title
  &__title {
    font-family: 'Martel';
    font-weight: 700;
    font-size: rem(16);
    line-height: math.div(24, 16);
    letter-spacing: 0.1px;
    color: $secondColor;

    &:not(:last-child) {
      margin-bottom: rem(15);
    }
  }

  // .card__descr
  &__descr {
    line-height: math.div(20, 14);
    letter-spacing: 0.2px;
  }

  // .card__image
  &__image {
    img {
      display: block;
      width: 100%;
      max-width: 100%;
    }
  }
}